{% extends "myapp/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to my project</h2>
<ul>
    <li><a href="{% url 'add_judo_student' %}">Add Judo Student</a></li>
    <li><a href="{% url 'add_karate_student' %}">Add Karate Student</a></li>
    <li><a href="{% url 'add_aikido_student' %}">Add Aikido Student</a></li>
    <li><a href="{% url 'add_kendo_student' %}">Add Kendo Student</a></li>
    <li><a href="{% url 'add_jujitsu_student' %}">Add Jujitsu Student</a></li>
    <li><a href="{% url 'search' %}">Search Students</a></li>
</ul>
{% endblock %}
